@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    transition: all 0.2s ease-in;
}

.header__scrolled {
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
}

.register {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.swiper-wrapper {
    padding: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    --swiper-navigation-size: 30px;
}

.link {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272f;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
